.admin-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    background: #dddada;
}

.profile-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #007bff;
}

h2 {
    color: #333;
    margin-bottom: 8px;
}

p {
    color: #666;
    margin-bottom: 15px;
}

.logout-btn {
    background: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #d63030;
}